[Desktop Entry]
Version=1.0
Exec=laines
Icon=laines.png
Terminal=false
Type=Application
Name=LaiNES
Comment=A Nintendo Entertainment System Emulator for Ubuntu Touch
X-Ubuntu-Touch=true
X-Ubuntu-Splash-Color=#1E2126
